#define WIFI_SSID       "ssid"
#define WIFI_PASSWORD   "password"
#define MQTT_SERVER     "192.168.1.10"
#define MQTT_PORT       1883
#define LEFT_PLUG_ADDR  {0x01, 0x23, 0x45, 0x67, 0x89, 0xAB, 0xCD, 0xEF};
#define RIGHT_PLUG_ADDR {0x01, 0x23, 0x45, 0x67, 0x89, 0xAB, 0xCD, 0xEF};
